<!--背景-->
<div class=container>
  <%= image_tag "logo.jpg" %>

  <% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
    <p>あああああ</p>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>

<% end %>
<!-- header content section -->
  <section id="hero" class="section ">
  <div class="row">
    <div class="col-xs-6 hero">
      <div class="hero-content">
        <h3>オリジナルアプリケーション!!</h3>
      </div>
    </div>
    <div class="col-xs-6 hero">
      <div class="hero-content">
        <p>みんなのコスメ</p>
      </div>
    </div>
    <img src="https://s3-ap-northeast-1.amazonaws.com/lucid.tgd/pages/1a7a5768440d8e0a66ac46a7e5a83d01.">
  </div>
</section>



<!-- portfolio grid section -->
<section id="portfolio">
  <div class="row">
  <% @img.each do |ele| %>
    <div class="col-xs-3 portfolio-item">
    <a href="" class="portfolio-link">
      <div class="caption">
        <div class="caption-content">
          <h3>someone's poach</h3>
          <h4>aaaaaaaaaa</h4>
        </div>
      </div>
      <img src=<%= ele.img_url %> alt="">
    </a>
    </div>
  <% end %>
  </div>
</section>
</div>
<!-- portfolio grid section --> 


<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
<!--ここまで-->