<!--背景-->
<div class=container>
  <img src="https://s3-ap-northeast-1.amazonaws.com/lucid.tgd/pages/1a7a5768440d8e0a66ac46a7e5a83d01.">
</div>

<!-- header content section -->
<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h3>オリジナルアプリケーション</h3>
        </div>
        <!-- hero --> 
      </div>
      <div class="col-md-5 col-sm-6 hero">
        <div class="hero-content">
          <p>みんなのコスメ</p>
        </div>
        <!-- hero --> 
      </div>
    </div>
  </div>
</section>

<!-- portfolio grid section -->
<section id="portfolio">
  <div class="container">


    <div class="row">

    <% @img.each do |ele| %>
      <div class="col-xs-3 portfolio-item">
      <a href="" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>someone's poach</h3>
            <h4>aaaaaaaaaa</h4>
          </div>
        </div>
        <img src=<%= ele.img_url %> alt="">
      </a>
      </div>
    <% end %>

    </div>
  </div>
</section>
<!-- portfolio grid section --> 


<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
<!--ここまで-->