<!--背景-->
<div class=container>
  <img src="https://s3-ap-northeast-1.amazonaws.com/lucid.tgd/pages/1a7a5768440d8e0a66ac46a7e5a83d01.">
</div>

<h2>
Your favorite cosme
</h2>

<!--繰り返しで要素表示するところ-->
<div class=container>
  <% 3.times{ %>
    <a href=''>
    <div class='col-xs-4 item_list'>
      <img src="http://cdn-cosme.net/media/product/10097/246485.jpg">
    </div>
    <a href=''>
    <div class='col-xs-4 item_list'>
      <img src="http://cdn-cosme.net/media/product/10005/246502.jpg">
    </div>
    </a>
    <a href=''>
    <div class='col-xs-4 item_list'>
      <img src="http://cdn-cosme.net/media/product/10051/249086.jpg">
    </div>
    </a>
  <% } %>
</div>