<div class=container style="margin:100px;">
  <%= image_tag "logo.jpg" %>
  <!-- 名前とアイコンをまず登録してもらう -->
  <% unless current_user.full_profile? %>
    <div class="header_top panel panel-default col-lg-12 no-profile">
    <h3>プロフィールを登録しましょう！</h3>
    <%= link_to "プロフィール登録", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
    </div>
  <% end %>
  <p>あなたのコスメを登録しましょう！</p>
  <%= link_to "検索","/items/search" %>
  <!-- header content section -->
  <section id="hero" class="section ">
  <div class="row">
    <div class="col-xs-6 hero">
        <h3>オリジナルアプリケーション!!</h3>
      </div>
    <div class="col-xs-6 hero">
        <p>みんなのコスメ</p>
    </div>
    <img src="https://s3-ap-northeast-1.amazonaws.com/lucid.tgd/pages/1a7a5768440d8e0a66ac46a7e5a83d01.">
  </div>
</section>



<!-- portfolio grid section -->
<section id="portfolio">
  <div class="row">
  <% @img.each do |ele| %>
    <div class="col-xs-3 portfolio-item">
      <img src=<%= ele.img_url %> alt="">
    </div>
  <% end %>
  </div>
</section>
</div>
<!-- portfolio grid section --> 


<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script>
<!--ここまで