<footer id="contact" class="footer">
  <div class="container-fluid">
    <div class="col-md-2 left">
      <ul class="footer-share">
        <li><i class="btn-instagram"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <p>© 2015 All rights reserved. All Rights Reserved<br>
        made<i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">NATSUONATSU</a></p>
    </div>
  </div>
</footer>