<footer id="contact" class="footer">
  <div class="container-fluid">
    <div class="col-md-2 left">
      <h4>Office Location</h4>
      <p> 早稲田近辺</p>
    </div>
    <div class="col-md-2 left">
      <h4>Contact</h4>
      <p> Call: 00000000 <br>
        Email : <a href="mailto:hello@agency.com"> @gmail.com </a></p>
    </div>
    <div class="col-md-2 left">
      <h4>Social presense</h4>
      <ul class="footer-share">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 right">
      <p>© 2015 All rights reserved. All Rights Reserved<br>
        made<i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">NATSUONATSU</a></p>
    </div>
  </div>
</footer>