<footer id="contact" class="footer col-xs-12">
  <div class="contents">
      <ul class="footer-share">
        <li><i class="btn-instagram"></i></a></li>
      </ul>
      <p>© 2016 All rights reserved. All Rights Reserved<br>
        made<i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">NATSUONATSU</a></p>
  </div>
</footer>