<header id="header">
  <div class="header-content clearfix"><a class="logo" href=<%= root_path %>>COSMEKKO</a>
    <nav class="navigation" role="navigation">
      <ul class="primary-nav">
        <% if signed_in? %>
          <li><%= link_to image_tag("pouch.jpeg",:class => "header_icon"), user_path(current_user) %></li>
          <li><%= link_to image_tag("setting.jpeg",:class => "header_icon"), edit_user_path(current_user) %></li>
          <li><%= link_to 'ログアウト', '/users/sign_out',method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <a href="#" class="nav-toggle">Menu<span></span></a> </div>
</header>