<header id="header">
  <div class="header-content clearfix"> <a class="logo" href="#">ORIAPP</a>
    <nav class="navigation" role="navigation">
      <ul class="primary-nav">
        <li><%= link_to 'HOME', root_path %></li>
        <% if signed_in? %>
          <li><%= link_to 'MY PAGE', user_path(current_user) %></li>
          <li><%= link_to '設定', edit_user_path(current_user) %></li>
          <li><%= link_to 'ログアウト', '/users/sign_out',method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <a href="#" class="nav-toggle">Menu<span></span></a> </div>
</header>